
.enter-city, .btn {
    border: 2px solid #9cd3d3;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    color:#9cd3d3;
}
.card  {
    border: 2px solid #9cd3d3;
    border-radius: 10px;
    font-weight: 600px;
}
.background {
    background-image: url(./beach.jpg);
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 100%;
    opacity: .7;
}
h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    padding: 0;
}
ul {
    list-style-type: none;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    padding: 0;
    margin: 0;
}
