.Search {
    font-family: sans-serif;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100%;
}
.enter-city, .btn {
    border: 2px solid #9cd3d3;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    color:#ffffff;
}
.card  {
border: 2px solid #9cd3d3;
border-radius: 10px;
margin: 0 auto;
max-width: 80%;
max-height: 100%;
font-weight: 600px;
display: block;
}
.background {
    background-image: url(./beach.jpg);
    background-size: cover;
    width: 800px;
    height:900px;
    resize: both;
}

h2 {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    padding: 0;
}

ul {
    list-style-type: none;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    margin: 0 auto;
}